body {
    margin: 0;
    background-color: #e3f1ff;
}

#mainImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mainImages img {
    width: 30vw;
}

#mainImages a {
    margin: 9vw;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2vh;
    border-bottom: black 3px solid;
    background-color: #9feaff;
}

nav input[type=text]{
    margin-left: 29vw;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: #e1f9ff;
    border: black 2px solid;
}

nav input[type=submit]{
    border-radius: 100px;
    background-color: #e1f9ff;
    border: black 2px solid;
    transition: background-color;
}

nav input[type=submit]:hover{
    border-radius: 100px;
    background-color: #baf3ff;
    transition: background-color 0.5s;
}

nav img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2vh;
    border-top: black 3px solid;
    background-color: #9feaff;
}

footer img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}