body {
    margin: 0;
    background-color: #f7fbff;
    font-family: Arial ;
}

#mainImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 50vh;
    margin: 9vw;
    background-color: #45dbff;
    border-radius: 30px;
    border: black solid 3px;
    font-size: larger;
}

#mainImage img{
    width: 30vw;
    height: 43vh;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#mainImage p{
    margin-top: 0;
    font-size: larger;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    border-bottom: black 3px solid;
    background-color: #45dbff;
    text-align: center;
}

nav input[type=text]{
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: #f7fbff;
    border: black 2px solid;
}

nav input[type=submit]{
    border-radius: 100px;
    background-color: #e1f9ff;
    border: black 2px solid;
    transition: background-color;
    cursor: pointer;
}

nav input[type=submit]:hover{
    border-radius: 100px;
    background-color: #baf3ff;
    transition: background-color 0.5s;
}

nav img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2vh;
    border-top: black 3px solid;
    background-color: #45dbff;
}

footer img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}

#locationMap img{
    width: 80vw;
}
#locationMap{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navText {
    text-align: center;
    flex: 1;
}

#navLogo {
    display: flex;
    justify-content: left;
    flex: 1;
}

#navFiller{
    flex: 1;
}

#navSearch{
    flex: 1;
    align-items: center;
}

#noResults {
    display: flex;
    font-weight: bold;
    font-size: xx-large;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}





@media (max-width: 760px) {
    #mainImage p{
        font-size: small;
        align-items: center;
        text-align: center;
    }
}

