body {
    margin: 0;
    background-color: #e3f1ff;
    font-family: Arial ;
}

#mainImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mainImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 50vh;
    margin: 9vw;
    background-color: #9feaff;
    border-radius: 30px;
    border: black solid 3px;
}

#mainImage img{
    width: 30vw;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#mainImage p{
    margin-top: 0;
    font-size: larger;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2vh;
    border-bottom: black 3px solid;
    background-color: #9feaff;
}

nav input[type=text]{
    margin-left: 29vw;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: #e1f9ff;
    border: black 2px solid;
}

nav input[type=submit]{
    border-radius: 100px;
    background-color: #e1f9ff;
    border: black 2px solid;
    transition: background-color;
    cursor: pointer;
}

nav input[type=submit]:hover{
    border-radius: 100px;
    background-color: #baf3ff;
    transition: background-color 0.5s;
}

nav img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 2vh;
    border-top: black 3px solid;
    background-color: #9feaff;
}

footer img{
    width: 10vw;
    border: black solid 2px;
    border-radius: 10px;
}

#map img{
    width: 80vw;
}
#map{
    display: flex;
    justify-content: center;
    align-items: center;
}
